<!DOCTYPE html>
<html style="height: 100%">
   <head>
    <title>DP dashboard</title>
    <meta charset="utf-8">
        <script src="./static/lib/js/echarts.min.js"></script>
    <script src="./static/lib/js/d3.min.js"></script>
    <script src="./static/lib/js/d3-tip.js"></script>
    <script src="./static/lib/js/jquery.min.js"></script>
    <style>
      .node {
          cursor: pointer;
      }
      .node circle {
          fill: #fff;
          stroke: steelblue;
          stroke-width: 1.5px;
      }
      .node text {
          font: 10px sans-serif;
      }
      .link {
          fill: none;
          stroke: #ccc;
          stroke-width: 1.5px;
      }
      .d3-tip {
        line-height: 1;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }

      /* Creates a small triangle extender for the tooltip */
      .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        top:100%;
        left:0;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
      }

      body {
          overflow: hidden;
      }
    </style>
   </head>
   <body style="margin: 20">
       <!--<div id="container" style="height: 2000px;width:2000px;"></div>-->
       <input type="range" id="slider" min="0" max="1" value="0.0" step="0.1"/>
       <span id="slider_value">Confidence: 0</span>

       <div id="container" style="height: 700px;width:700px;"></div>
              
       <script type="text/javascript">
/*
var treeData =
  {
    "name": "Top Level",
    "children": [
      { 
        "name": "Level 2: A",
        "children": [
          { "name": "Son of A" },
          { "name": "Daughter of A" }
        ]
      },
      { "name": "Level 2: B" }
    ]
  };*/
$(document).on('input', '#slider', function() {
    $('#slider_value').html( "Confidence: "+$(this).val() );
});


var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    console.log(d)
    var pattern = d.data.name;
    var freq = d.data.size;
    var act_num = d.data.aiScore[0];
    var inact_num = d.data.aiScore[1];
    return "<strong>Pattern: </strong>"+pattern+"<br><br>Frequency: "+freq+"<br>Active Compound number: "+act_num+"<br>Inactive compound number: "+inact_num;
  });

        var red = "#f5696d";
        var green = "#40bc96";
        var orange = "#fabd57";

var treeData = {
  "name":[1,2,3],
          "aiScore": [60,30],
          "size": 30,
          "color": orange,
          "children": [{
            "name":[1,2,3,4],
            "aiScore": [60,20],
            "size": 20,
            "color": green
          },{
            "name":[1,2,3,6],
            "aiScore": [20,20],
            "size": 40,
            "color": green
          },{
            "name":[1,2,3,7],
            "aiScore": [70,20],
            "size": 50,
            "color": green
          },{
            "name":[1,2,3,8],
            "aiScore": [10,20],
            "size": 30,
            "color": green
          }]
        };

// Set the dimensions and margins of the diagram
var margin = {top: 20, right: 90, bottom: 30, left: 90},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var zoom = d3.zoom().scaleExtent([1,3]).on("zoom", redraw);


// append the svg object to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("#container").append("svg")
    .attr("width", width + margin.right + margin.left)
    .attr("height", height + margin.top + margin.bottom)
    .call(zoom)
    .append("g")
    .attr("transform", "translate("
          + margin.left + "," + margin.top + ")")
    ;

svg.call(tip);

var i = 0,
    duration = 750,
    root;

// declares a tree layout and assigns the size
var treemap = d3.tree().size([height, width]);

// Assigns parent, children, height, depth
root = d3.hierarchy(treeData, function(d) { return d.children; });
root.x0 = height / 2;
root.y0 = 0;

// Collapse after the second level
root.children.forEach(collapse);

update(root);

// Collapse the node and all it's children
function collapse(d) {
  if(d.children) {
    d._children = d.children
    d._children.forEach(collapse)
    d.children = null
  }
}




function drawPie(d) {

  var pie = d3.pie()
    .value(function(d) {
      return d;
    }).sort(null);

  var color = d3.scaleOrdinal()
    .range(['#40bc96', '#f5696d']);

  var arc = d3.arc()
    .outerRadius(d.data.size)
    .innerRadius(0);


  d3.select(this)
    .selectAll('path')
    .data(pie(d.data.aiScore))
    .enter().append("g")
    .attr("class", "arc")
    .append('path')
    .attr('d', arc)
    .attr('fill', function(d, i) {
      return color(i);
    });

}


function update(source) {

  // Assigns the x and y position for the nodes
  var treeData = treemap(root);

  // Compute the new tree layout.
  var nodes = treeData.descendants(),
      links = treeData.descendants().slice(1);

  // Normalize for fixed-depth.
  nodes.forEach(function(d){ d.y = d.depth * 180});

  // ****************** Nodes section ***************************

  // Update the nodes...
  var node = svg.selectAll('g.node')
      .data(nodes, function(d) {return d.id || (d.id = ++i); });

  // Enter any new modes at the parent's previous position.
  var nodeEnter = node.enter().append('g')
      .attr('class', 'node')
      .attr("transform", function(d) {
        return "translate(" + source.y0 + "," + source.x0 + ")";
    })
    .on('click', click)
    .on('mouseover',tip.show);

  nodeEnter.each(drawPie);
  // Add Circle for the nodes

  /*
  nodeEnter.append('circle')
      .attr('class', 'node')
      .attr('r', 1e-6)
      .style("fill", function(d) {
          return d._children ? "lightsteelblue" : "#fff";
      });*/

  // Add labels for the nodes
  nodeEnter.append('text')
      .attr("dy", ".35em")
      .attr("dx", "-0.35em")/*
      .attr("x", function(d) {
          return d.children || d._children ? -13 : 13;
      })
      .attr("text-anchor", function(d) {
          return d.children || d._children ? "end" : "start";
      })*/
      .text(function(d) { return d.data.size; });

  // UPDATE
  var nodeUpdate = nodeEnter.merge(node);

  // Transition to the proper position for the node
  nodeUpdate.transition()
    .duration(duration)
    .attr("transform", function(d) { 
        return "translate(" + d.y + "," + d.x + ")";
     });

  // Update the node attributes and style
  /*
  nodeUpdate.select('circle.node')
    .attr('r', 10)
    .style("fill", function(d) {
        return d._children ? "lightsteelblue" : "#fff";
    })
    .attr('cursor', 'pointer');*/


  // Remove any exiting nodes
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) {
          return "translate(" + source.y + "," + source.x + ")";
      })
      .remove();

  // On exit reduce the node circles size to 0
  /*
  nodeExit.select('circle')
    .attr('r', 1e-6);*/

  // On exit reduce the opacity of text labels
  nodeExit.select('text')
    .style('fill-opacity', 1e-6);

  // ****************** links section ***************************

  // Update the links...
  var link = svg.selectAll('path.link')
      .data(links, function(d) { return d.id; });

  // Enter any new links at the parent's previous position.
  var linkEnter = link.enter().insert('path', "g")
      .attr("class", "link")
      .attr('d', function(d){
        var o = {x: source.x0, y: source.y0}
        return diagonal(o, o)
      });

  // UPDATE
  var linkUpdate = linkEnter.merge(link);

  // Transition back to the parent element position
  linkUpdate.transition()
      .duration(duration)
      .attr('d', function(d){ return diagonal(d, d.parent) });

  // Remove any exiting links
  var linkExit = link.exit().transition()
      .duration(duration)
      .attr('d', function(d) {
        var o = {x: source.x, y: source.y}
        return diagonal(o, o)
      })
      .remove();

  // Store the old positions for transition.
  nodes.forEach(function(d){
    d.x0 = d.x;
    d.y0 = d.y;
  });
}
  // Creates a curved (diagonal) path from parent to the child nodes
  function diagonal(s, d) {

    path = `M ${s.y} ${s.x}
            C ${(s.y + d.y) / 2} ${s.x},
              ${(s.y + d.y) / 2} ${d.x},
              ${d.y} ${d.x}`

    return path
  }

  // Toggle children on click.
  function click(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
      } else {
        d.children = d._children;
        d._children = null;
      }
    update(d);
  }

  function redraw() {
    //console.log("here", d3.event.translate, d3.event.scale);
    svg.attr("transform", d3.event.transform)
  }

  function mouseoverPie(){

  }

       </script>

   </body>
</html>